.system-power {
  border-radius: 0.25rem;
  padding: 0 0.25rem;

  &--on {
    background: #e1f5f1;
    color: #34bfa3;
  }

  &--off {
    background: #f3f3f3;
    color: #adadad;
  }

  &--other-terms {
    background: #ddebf8;
    color: #1c7bcf;
  }
}

.managedState {
  border-radius: 0.25rem;
  padding: 0 0.25rem;

  &--managed {
    background: #e1f5f1;
    color: #34bfa3;
  }

  &--initializing {
    background: #d5f3ff;
    color: #33b0e0;
  }

  &--stale,
  &--unauthorized,
  &--unknown {
    background: #fff8d9;
    color: #bb980f;
  }

  &--other-terms {
    background: #ddebf8;
    color: #1c7bcf;
  }
}

.health {
  border-radius: 0.25rem;
  padding: 0 0.25rem;

  &--ok,
  &--good {
    background: #e1f5f1;
    color: #34bfa3;
  }

  &--warning {
    background: #fff8d9;
    color: #bb980f;
  }

  &--critical {
    background-color: #fde5eb;
    color: #f24f7c;
  }

  &--other-terms {
    background: #ddebf8;
    color: #1c7bcf;
  }
}

.bootSourceOverrideEnabled {
  border-radius: 0.25rem;
  padding: 0 0.25rem;

  &--enabled {
    background: #e1f5f1;
    color: #34bfa3;
  }

  &--disabled {
    background: #f3f3f3;
    color: #adadad;
  }

  &--other-terms {
    background: #ddebf8;
    color: #1c7bcf;
  }
}
