/* Typography and Colors*/

/* Layout */
.block {
  display: block;
}

/* Width and height */
.h-full {
  height: 100%;
}

/* margin and padding */
.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-60 {
  margin-right: 60px;
}

/* Flexbox layout */

/* Grid layout */
